In [32]:
import csv
import pandas as pd



df = pd.read_csv('/Users/jthompson/dev/DataZCW-Final-Project/Dashboard/date_tweets_locations_50.csv', index_col=0)

In [33]:
df.dtypes

date                     object
tweet                    object
location                 object
location_abbreviation    object
sentiment                object
dtype: object

In [34]:
df

,date,tweet,location,location_abbreviation,sentiment
0,2020-5-9,Yikes! #COVID19 effect on unemployment figures...,Alaska,AK,1
1,2020-5-9,One of the most common questions that we are g...,Alabama,AL,0
2,2020-5-9,RT @BvilleDailyNews: Missourians made nearly 5...,Arkansas,AR,1
3,2020-5-9,"Missourians made nearly 55,000 new unemploymen...",American Samoa,AS,-1
4,2020-5-9,"Missourians made nearly 55,000 new unemploymen...",Arizona,AZ,0
5,2020-5-9,Yikes! #COVID19 effect on unemployment figures...,California,CA,1
6,2020-5-9,One of the most common questions that we are g...,Colorado,CO,1
7,2020-5-9,RT @BvilleDailyNews: Missourians made nearly 5...,Connecticut,CT,1
8,2020-5-9,"Missourians made nearly 55,000 new unemploymen...",District of Columbia,DC,0
9,2020-5-9,"Missourians made nearly 55,000 new unemploymen...",Delaware,DE,0
10,2020-5-9,@MollyJongFast We’ll consider her a #COVID19va...,Florida,FL,0
11,2020-5-9,RT @aspiesmom: You choose: risk #Coronavirus O...,Georgia,GA,1
12,2020-5-9,ICMR teams up with Bharat Biotech to develop i...,Guam,GU,-1
13,2020-5-9,@LadyRedWave People refusing the #COVID19vacci...,Hawaii,HI,-1
14,2020-5-9,@eliasamare @eliasamare thats actually a bless...,Iowa,IA,-1
15,2020-5-9,"""#Polio spread fastest in warm months. Each Ju...",Idaho,ID,-1
16,2020-5-9,How Patent Abuse Could Hurt the Fight Against ...,Illinois,IL,-1
17,2020-5-9,Israels IIBR finds antibody that neutralizes c...,Indiana,IN,-1
18,2020-5-9,@naveenthacker #Covid19Vaccine? Always hope 😊,Kansas,KS,-1
19,2020-5-9,Yesterday @CarryMinati has roasted #Tiktokers...,Kentucky,KY,-1
20,2020-5-9,President Trump is singularly focused on getti...,Louisiana,LA,-1
21,2020-5-9,"@bsindia Yes, Serum will certainly lead the wa...",Massachusetts,MA,-1
22,2020-5-9,@Indian_Leopard @WarrenBuffett When did you ma...,Maryland,MD,-1
23,2020-5-9,@ICMRDELHI partners with Bharat Biotech Intern...,Maine,ME,-1
24,2020-5-9,RT @SakmenSA: #MadagascarMedicine\r\nIn #South...,Michigan,MI,1-
25,2020-5-9,RT @ImWithoutADoubt: @JenniferFShort @iajanus ...,Minnesota,MN,1-
26,2020-5-9,RT @techstrat_99: A #COVID19vaccine is highly ...,Missouri,MO,1-
27,2020-5-9,@JenniferFShort @iajanus @truth_seeker_85 @Qur...,Northern Mariana Islands,MP,0
28,2020-5-9,“REMDESIVIR SHOWS PROMISE IN ONGOING COVID-19 ...,Mississippi,MS,0
29,2020-5-9,How Spanish Flu of 1918 ended?\r\n\r\n#Covid_1...,Montana,MT,1
30,2020-5-9,RT @SakmenSA: #MadagascarMedicine\r\nIn #South...,National,NaN,1
31,2020-5-9,RT @techstrat_99: A #COVID19vaccine is highly ...,North Carolina,NC,-1
32,2020-5-9,The CEO of the worlds largest manufacturer of ...,North Dakota,ND,-1
33,2020-5-9,RT @techstrat_99: A #COVID19vaccine is highly ...,Nebraska,NE,-1
34,2020-5-9,RT @techstrat_99: A #COVID19vaccine is highly ...,New Hampshire,NH,-1
35,2020-5-9,RT @techstrat_99: A #COVID19vaccine is highly ...,New Jersey,NJ,-1
36,2020-5-9,RT @techstrat_99: A #COVID19vaccine is highly ...,New Mexico,NM,1
37,2020-5-9,I want to be free! Let me out #COVID19vaccine,Nevada,NV,-1
38,2020-5-9,#COVID19vaccine @BillGates @WHO @DrAnthonyF @H...,New York,NY,0
39,2020-5-9,RT @mehrotra15j: @MQuigley1963 #sixwordstory #...,Ohio,OH,0
40,2020-5-9,@MQuigley1963 #sixwordstory #WritingCommunity ...,Oklahoma,OK,0
41,2020-5-9,A #COVID19vaccine is highly sort after right n...,Oregon,OR,-1
42,2020-5-9,Who is going to win the race for #COVID19vacci...,Pennsylvania,PA,1
43,2020-5-9,Ngipholise cover by ANELISWA https://t.co/SoPz...,Puerto Rico,PR,-1
44,2020-5-9,RT @gsiwo: COVID-19 https://t.co/dWPu1Rqjji no...,Rhode Island,RI,1
45,2020-5-9,@WhiteHouse staff member (Aide of Mike Pence) ...,South Carolina,SC,-1
46,2020-5-9,RT @pfizer: In 25+ years of developing #vaccin...,South Dakota,SD,-1
47,2020-5-9,@SecAzar please do the right thing and reinsta...,Tennessee,TN,-1
48,2020-5-9,RT @pfizer: In 25+ years of developing #vaccin...,Texas,TX,0
49,2020-5-9,India still has about one week left before dec...,Utah,UT,1
50,2020-5-9,RT @SakmenSA: #MadagascarMedicine\r\nIn #South...,Virginia,VA,-1
51,2020-5-9,RT @ketan72: Pune-based BJ Medical College (BJ...,Virgin Islands,VI,1
52,2020-5-9,RT @PratibaRaman: Italian company #ReiThera sa...,Vermont,VT,-1
53,2020-5-9,Pune-based BJ Medical College (BJMC) &amp; Sas...,Washington,WA,0
54,2020-5-9,RT @SakmenSA: #MadagascarMedicine\r\nIn #South...,Wisconsin,WI,1
55,2020-5-9,"Researchers in the @BCM_TropMed, and @TexasChi...",West Virginia,WV,0
56,2020-5-9,First #COVID19 vaccine test on animals success...,Wyoming,WY,-1

In [35]:
df['date'] = pd.to_datetime(df['date'])

In [36]:
df.dtypes

date                     datetime64[ns]
tweet                            object
location                         object
location_abbreviation            object
sentiment                        object
dtype: object

In [2]:

# dfnew = df.rename(columns={0:'date', 1:'misc', 2:'tweet', 3:'date2', 4:'misc2', 5:'misc2', 6:'misc2', 7:'location', 8:'misc2'})

In [3]:

# Drop columns
df = df.drop(columns=[1, 3, 4, 5, 6, 8])

In [4]:
dfnew = df.rename(columns={0:'date', 2:'tweet', 7:'location'})

In [5]:
dfnew.dtypes

date        object
tweet       object
location    object
dtype: object

In [6]:
dfnew['date'] = dfnew['date'].str[0:10]

In [7]:
dfnew

,date,tweet,location
0,2020-05-09,Yikes! #COVID19 effect on unemployment figures...,"Brooklyn, New York"
1,2020-05-09,One of the most common questions that we are g...,"New York, NY"
2,2020-05-09,RT @BvilleDailyNews: Missourians made nearly 5...,"Michigan, USA"
3,2020-05-09,"Missourians made nearly 55,000 new unemploymen...","Boonville, Missouri"
4,2020-05-09,"Missourians made nearly 55,000 new unemploymen...","Mexico, Mo."
...,...,...,...
926,2020-05-09,RT @ankkinegi: Always keep the faith... 🙏\nIf ...,India
927,2020-05-09,RT @OxfordECentre: In the worldwide race for a...,"Katra, Jammu And Kashmir"
928,2020-05-09,In the worldwide race for a vaccine to stop th...,"Saïd Business School, University of Oxford"
929,2020-05-09,RT @momimlevitating: Bill Gates and his slimeb...,
930,2020-05-09,#COVID19Vaccine in 8 months... WHAT??? https:/...,"Marysville, Wa. USA"

In [8]:
# dfnew['date'].astype(int)
# This can not be applied at the time the data is read in
# dfnew['date'] = pd.to_datetime(dfnew[['Month', 'Day', 'Year']])
dfnew['date'] = pd.to_datetime(dfnew['date'])

In [9]:
dfnew.dtypes

date        datetime64[ns]
tweet               object
location            object
dtype: object

In [10]:
#dtypes are already objects(str), but in case they weren't, this would be a fail safe
dfnew['tweet'] = dfnew['tweet'].astype('str')
dfnew['location'] = dfnew['location'].astype('str')

In [11]:
dfnew.dtypes

date        datetime64[ns]
tweet               object
location            object
dtype: object

In [12]:
dfnew

,date,tweet,location
0,2020-05-09,Yikes! #COVID19 effect on unemployment figures...,"Brooklyn, New York"
1,2020-05-09,One of the most common questions that we are g...,"New York, NY"
2,2020-05-09,RT @BvilleDailyNews: Missourians made nearly 5...,"Michigan, USA"
3,2020-05-09,"Missourians made nearly 55,000 new unemploymen...","Boonville, Missouri"
4,2020-05-09,"Missourians made nearly 55,000 new unemploymen...","Mexico, Mo."
...,...,...,...
926,2020-05-09,RT @ankkinegi: Always keep the faith... 🙏\nIf ...,India
927,2020-05-09,RT @OxfordECentre: In the worldwide race for a...,"Katra, Jammu And Kashmir"
928,2020-05-09,In the worldwide race for a vaccine to stop th...,"Saïd Business School, University of Oxford"
929,2020-05-09,RT @momimlevitating: Bill Gates and his slimeb...,
930,2020-05-09,#COVID19Vaccine in 8 months... WHAT??? https:/...,"Marysville, Wa. USA"

In [13]:
states = {
    'AK': 'Alaska',
    'AL': 'Alabama',
    'AR': 'Arkansas',
    'AS': 'American Samoa',
    'AZ': 'Arizona',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DC': 'District of Columbia',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'GU': 'Guam',
    'HI': 'Hawaii',
    'IA': 'Iowa',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'MA': 'Massachusetts',
    'MD': 'Maryland',
    'ME': 'Maine',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MO': 'Missouri',
    'MP': 'Northern Mariana Islands',
    'MS': 'Mississippi',
    'MT': 'Montana',
    'NA': 'National',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'NE': 'Nebraska',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NV': 'Nevada',
    'NY': 'New York',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'PR': 'Puerto Rico',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VA': 'Virginia',
    'VI': 'Virgin Islands',
    'VT': 'Vermont',
    'WA': 'Washington',
    'WI': 'Wisconsin',
    'WV': 'West Virginia',
    'WY': 'Wyoming'
}

In [14]:
dfnew[pd.DataFrame(dfnew.location.tolist()).isin(states).any(1)]

Empty DataFrame
Columns: [date, tweet, location]
Index: []

In [15]:
filter = dfnew.location.apply(lambda x: any(item for item in states if item in x))
dfstatesonly = dfnew[filter]

In [16]:
dfstatesonly

,date,tweet,location
1,2020-05-09,One of the most common questions that we are g...,"New York, NY"
6,2020-05-09,One of the most common questions that we are g...,"New York, NY"
10,2020-05-09,@MollyJongFast We’ll consider her a #COVID19va...,"Shenandoah Valley, VA"
11,2020-05-09,RT @aspiesmom: You choose: risk #Coronavirus O...,Pinterest #CDCwhistleblower
15,2020-05-09,"""#Polio spread fastest in warm months. Each Ju...","Boston, MA"
...,...,...,...
863,2020-05-09,"RT @SuerieMoon: Indeed, these are critical que...",DC
885,2020-05-09,Napa company begins testing a potential COVID-...,"St Helena, CA"
893,2020-05-09,Extraordinary cooperation and accommodations a...,"South San Francisco, CA"
913,2020-05-09,#WhistleblowerComplaint set to lift lid on Tru...,SOUTHERN CALIFORNIA
925,2020-05-09,I think #Trumps campaign is trying to screw th...,"Stuart, FL"

In [17]:
dfnew

,date,tweet,location
0,2020-05-09,Yikes! #COVID19 effect on unemployment figures...,"Brooklyn, New York"
1,2020-05-09,One of the most common questions that we are g...,"New York, NY"
2,2020-05-09,RT @BvilleDailyNews: Missourians made nearly 5...,"Michigan, USA"
3,2020-05-09,"Missourians made nearly 55,000 new unemploymen...","Boonville, Missouri"
4,2020-05-09,"Missourians made nearly 55,000 new unemploymen...","Mexico, Mo."
...,...,...,...
926,2020-05-09,RT @ankkinegi: Always keep the faith... 🙏\nIf ...,India
927,2020-05-09,RT @OxfordECentre: In the worldwide race for a...,"Katra, Jammu And Kashmir"
928,2020-05-09,In the worldwide race for a vaccine to stop th...,"Saïd Business School, University of Oxford"
929,2020-05-09,RT @momimlevitating: Bill Gates and his slimeb...,
930,2020-05-09,#COVID19Vaccine in 8 months... WHAT??? https:/...,"Marysville, Wa. USA"

In [18]:
dfnew.to_csv('date_tweets_locations.csv')